<app-nav-barra class="nav-barra"></app-nav-barra>

<!-- Modal de Éxito -->
<ng-template #successModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">¡Éxito!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ successMessage }}</p>
  </div>
</ng-template>

<!-- Modal de Error -->
<ng-template #errorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">¡Error!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ errorMessage }}</p>
  </div>
</ng-template>

<div class="wrapper">
  <div class="main">
    <div class="container mt-5 register-container">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="card shadow border-0">
          <div class="card-header text-center">
            <h5>Registro de Cliente</h5>
          </div>
          <div class="card-body">
            <!-- Campos de texto -->
            <div class="form-group mb-3" *ngFor="let campo of [
              { id: 'nombreCliente', label: 'Nombre', tipo: 'text' },
              { id: 'aPCliente', label: 'Apellido Paterno', tipo: 'text' },
              { id: 'aMCliente', label: 'Apellido Materno', tipo: 'text' },
              { id: 'direccion', label: 'Dirección', tipo: 'text' },
              { id: 'correo', label: 'Correo Electrónico', tipo: 'email' },
              { id: 'telefono', label: 'Teléfono', tipo: 'text' }
            ]">
              <label [for]="campo.id">{{ campo.label }}</label>
              <input [id]="campo.id" [type]="campo.tipo" class="form-control" [formControlName]="campo.id"
                [placeholder]="campo.label" />

              <small class="error-message"
                *ngIf="registerForm.get(campo.id)?.invalid && (registerForm.get(campo.id)?.touched || registerForm.get(campo.id)?.dirty)">
                <div *ngIf="registerForm.get(campo.id)?.hasError('required')">Este campo es obligatorio.</div>
                <div *ngIf="campo.id === 'correo' && registerForm.get(campo.id)?.hasError('email')">Correo no válido.
                </div>
                <div *ngIf="campo.id === 'telefono' && registerForm.get(campo.id)?.hasError('invalidPhone')">El teléfono
                  debe tener 10 dígitos numéricos.</div>
              </small>
            </div>

            <!-- Contraseña -->
            <div class="form-group mb-3">
              <label for="pass" class="form-label">Contraseña</label>
              <div class="input-wrapper">
                <input [type]="showPassword ? 'text' : 'password'" id="pass" class="form-control" formControlName="pass"
                  placeholder="••••••••" />
                <i class="fa toggle-password" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility()"></i>
              </div>

              <small class="error-message"
                *ngIf="passwordErrors && (registerForm.get('pass')?.touched || registerForm.get('pass')?.dirty)">
                <div *ngIf="passwordErrors?.['required']">Este campo es obligatorio.</div>
                <div *ngIf="passwordErrors?.['minlength']">Mínimo 8 caracteres.</div>
                <div *ngIf="passwordErrors?.['passwordStrength']">Debe contener al menos 1 mayúscula, 1 minúscula y 1
                  número.</div>
              </small>
            </div>

            <!-- Confirmar Contraseña -->
            <div class="form-group mb-3">
              <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
              <div class="input-wrapper">
                <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" class="form-control"
                  formControlName="confirmPassword" placeholder="Reingrese la contraseña" />
                <i class="fa toggle-password" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="toggleConfirmPasswordVisibility()"></i>
              </div>

              <small class="error-message"
                *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
                Las contraseñas no coinciden.
              </small>
            </div>

            <!-- reCAPTCHA -->
            <div class="form-group mb-3 recaptcha-wrapper">
              <div class="recaptcha-container">
                <re-captcha (resolved)="resolved($event)"
                  [siteKey]="'6LemDAArAAAAAHQnA85NNufejIN6awF7v8zS-Cu6'"></re-captcha>
              </div>
              <small class="error-message"
                *ngIf="registerForm.get('recaptcha')?.invalid && (registerForm.get('recaptcha')?.dirty || registerForm.get('recaptcha')?.touched)">
                Por favor, verifica el reCAPTCHA.
              </small>
            </div>

            <!-- Acepta Aviso de Privacidad -->
            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" id="aceptaPrivacidad"
                formControlName="aceptaPrivacidad" />
              <label class="form-check-label" for="aviso">
                Acepto el
                <a [routerLink]="['/aviso-privacidad']" target="_blank" rel="noopener">
                  Aviso de Privacidad
                </a>.
              </label>

              <small class="error-message" *ngIf="registerForm.get('aceptaPrivacidad')?.invalid &&
                (registerForm.get('aceptaPrivacidad')?.touched || registerForm.get('aceptaPrivacidad')?.dirty)">
                Debes aceptar el aviso de privacidad para continuar.
              </small>
            </div>


            <!-- Botón -->
            <button type="submit" class="btn btn-primary btn-submit w-100 mt-3"
              [disabled]="registerForm.invalid || !captchaResolved">
              Registrarse
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>