<div class="wrapper expediente-wrapper">
  <app-barra-lateral></app-barra-lateral>

  <div class="main">
    <nav class="navbar navbar-expand-lg p-0" style="background-color: #001f3f;">
      <div class="container-fluid p-0">
        <a class="navbar-brand" href="/principal">
          <img src="/logo/logoLexVargasV.png" alt="LexVargas Logo" width="200" class="d-inline-block align-text-top">
        </a>
      </div>
    </nav>

    <div class="p-3">
      <app-breadcrumbs></app-breadcrumbs>
      
      <!-- Tabs principales con contenedor responsive -->
      <div class="tabs-responsive-container">
        <ul class="nav nav-tabs" id="expedienteTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="informacion-tab" data-bs-toggle="tab" data-bs-target="#informacion"
              type="button" role="tab" aria-controls="informacion" aria-selected="true">Información General</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="partes-tab" data-bs-toggle="tab" data-bs-target="#partes" type="button"
              role="tab" aria-controls="partes" aria-selected="false">Datos de las Partes</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="documentos-tab" data-bs-toggle="tab" data-bs-target="#infocita" type="button"
              role="tab" aria-controls="documentos" aria-selected="false">Informacion Citas</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="documentos-tab" data-bs-toggle="tab" data-bs-target="#documentos" type="button"
              role="tab" aria-controls="documentos" aria-selected="false">Documentación Legal</button>
          </li>
        </ul>
      </div>

      <div class="tab-content mt-4" id="expedienteTabsContent">
        <!-- Información General -->
        <div class="tab-pane fade show active" id="informacion" role="tabpanel" aria-labelledby="informacion-tab">
          <h3 class="mb-4">Información General</h3>
          <form *ngIf="expediente; else cargando">
            <div class="row mb-3">
              <div class="col-md-6 col-12 mb-3 mb-md-0">
                <label for="idExpediente" class="form-label">Numero Expediente</label>
                <input type="text" class="form-control" id="idExpediente" [(ngModel)]="expediente.numeroExpediente"
                  name="idExpediente" readonly 
                  />
              </div>
              <div class="col-md-6 col-12">
                <label for="fechaApertura" class="form-label">Fecha Apertura</label>
                <input type="date" class="form-control" id="fechaApertura" [(ngModel)]="expediente.fechaApertura"
                  name="fechaApertura" readonly />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6 col-12 mb-3 mb-md-0">
                <label for="nombreServicio" class="form-label">Nombre del Cliente</label>
                <input type="text" class="form-control" id="nombreServicio" [(ngModel)]="expediente.nombreExpediente"
                  name="nombreServicio" readonly />
              </div>
              <div class="col-md-6 col-12">
                <label for="estadoExpediente" class="form-label">Estado del Expediente</label>
                <select class="form-select" id="estadoExpediente" [(ngModel)]="expediente.estado"
                  name="estadoExpediente" disabled>
                  <option [value]="'Abierto'">Abierto</option>
                  <option [value]="'En Proceso'">En Proceso</option>
                  <option [value]="'Cerrado'">Cerrado</option>
                </select>
              </div>
            </div>
          </form>

          <ng-template #cargando>
            <p>Cargando información del expediente...</p>
          </ng-template>
        </div>

        <!-- Datos de las Partes -->
        <div class="tab-pane fade" id="partes" role="tabpanel" aria-labelledby="partes-tab">
          <h3 class="mb-4">Datos de las Partes</h3>
          
          <div class="tabs-responsive-container">
            <ul class="nav nav-tabs" id="partesTabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="demandante-tab" data-bs-toggle="tab" data-bs-target="#demandante"
                  type="button" role="tab" aria-controls="demandante" aria-selected="true">Parte Demandante</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="demandado-tab" data-bs-toggle="tab" data-bs-target="#demandado" type="button"
                  role="tab" aria-controls="demandado" aria-selected="false">Parte Demandada</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="terceros-tab" data-bs-toggle="tab" data-bs-target="#terceros" type="button"
                  role="tab" aria-controls="terceros" aria-selected="false">Terceros Relacionados</button>
              </li>
            </ul>
          </div>

          <div class="tab-content mt-4" id="partesTabsContent">
            <!-- Parte Demandante -->
            <div class="tab-pane fade show active" id="demandante" role="tabpanel" aria-labelledby="demandante-tab">
              <h4 class="mb-3">Parte Demandante</h4>
              <div *ngIf="demandantes.length > 0; else noDemandantes">
                <div *ngFor="let demandante of demandantes" class="card parte-card mb-4 shadow-sm">
          
                  <div class="card-body">
                    <p class="card-text"><strong>Nombre Completo:</strong> {{ demandante.nombreCompleto }}</p>
                    <p class="card-text"><strong>Identificación Oficial:</strong> {{ demandante.identificacionOficial }}</p>
                    <p class="card-text"><strong>Relación con el Caso:</strong> {{ demandante.relacionCaso }}</p>
                    <p class="card-text"><strong>Fecha de Nacimiento:</strong> {{ demandante.fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
                    <p class="card-text"><strong>Teléfono:</strong> {{ demandante.telefono }}</p>
                    <p class="card-text"><strong>Correo Electrónico:</strong> {{ demandante.correo }}</p>
                    <p *ngIf="demandante.representanteLegalNombre"><strong>Representante Legal:</strong> {{ demandante.representanteLegalNombre }}</p>
                    <p *ngIf="demandante.representanteLegalTelefono"><strong>Teléfono Representante Legal:</strong> {{ demandante.representanteLegalTelefono }}</p>
                    <p *ngIf="demandante.representanteLegalCorreo"><strong>Correo Representante Legal:</strong> {{ demandante.representanteLegalCorreo }}</p>
                    <p class="card-text"><strong>Domicilio:</strong> {{ demandante.domicilio }}</p>
                </div>
                
                </div>
              </div>
              <ng-template #noDemandantes>
                <p>No hay partes demandantes registradas para este expediente.</p>
              </ng-template>
            </div>              
    
            <!-- Parte Demandada -->
            <div class="tab-pane fade" id="demandado" role="tabpanel" aria-labelledby="demandado-tab">
              <h4 class="mb-3">Parte Demandada</h4>
              <div *ngIf="demandados.length > 0; else noDemandados">
                <div *ngFor="let demandado of demandados" class="card parte-card mb-4 shadow-sm">
                  <div class="card-body">
                    <p class="card-text"><strong>Nombre Completo:</strong> {{ demandado.nombreCompleto }}</p>
                    <p class="card-text"><strong>Identificación Oficial:</strong> {{ demandado.identificacionOficial }}</p>
                    <p class="card-text"><strong>Relación con el Caso:</strong> {{ demandado.relacionCaso }}</p>
                    <p class="card-text"><strong>Fecha de Nacimiento:</strong> {{ demandado.fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
                    <p class="card-text"><strong>Teléfono:</strong> {{ demandado.telefono }}</p>
                    <p class="card-text"><strong>Correo Electrónico:</strong> {{ demandado.correo }}</p>
                    <p *ngIf="demandado.representanteLegalNombre"><strong>Representante Legal:</strong> {{ demandado.representanteLegalNombre }}</p>
                    <p *ngIf="demandado.representanteLegalTelefono"><strong>Teléfono Representante Legal:</strong> {{ demandado.representanteLegalTelefono }}</p>
                    <p *ngIf="demandado.representanteLegalCorreo"><strong>Correo Representante Legal:</strong> {{ demandado.representanteLegalCorreo }}</p>
                    <p class="card-text"><strong>Domicilio:</strong> {{ demandado.domicilio }}</p>
                </div>
                
                </div>
              </div>
              <ng-template #noDemandados>
                <p>No hay partes demandadas registradas para este expediente.</p>
              </ng-template>
            </div>
            
            <!-- Terceros Relacionados -->
            <div class="tab-pane fade" id="terceros" role="tabpanel" aria-labelledby="terceros-tab">
              <h4 class="mb-3">Terceros Relacionados</h4>
              <div *ngIf="terceros.length > 0; else noTerceros">
                <div *ngFor="let tercero of terceros" class="card parte-card mb-4 shadow-sm">
                  <div class="card-body">
                    <p class="card-text"><strong>Nombre Completo:</strong> {{ tercero.nombreCompleto }}</p>
                    <p class="card-text"><strong>Identificación Oficial:</strong> {{ tercero.identificacionOficial }}</p>
                    <p class="card-text"><strong>Relación con el Caso:</strong> {{ tercero.relacionCaso }}</p>
                    <p class="card-text"><strong>Fecha de Nacimiento:</strong> {{ tercero.fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
                    <p class="card-text"><strong>Teléfono:</strong> {{ tercero.telefono }}</p>
                    <p class="card-text"><strong>Correo Electrónico:</strong> {{ tercero.correo }}</p>
                    <p *ngIf="tercero.representanteLegalNombre"><strong>Representante Legal:</strong> {{ tercero.representanteLegalNombre }}</p>
                    <p *ngIf="tercero.representanteLegalTelefono"><strong>Teléfono Representante Legal:</strong> {{ tercero.representanteLegalTelefono }}</p>
                    <p *ngIf="tercero.representanteLegalCorreo"><strong>Correo Representante Legal:</strong> {{ tercero.representanteLegalCorreo }}</p>
                    <p class="card-text"><strong>Domicilio:</strong> {{ tercero.domicilio }}</p>
                </div>
                </div>
              </div>
              <ng-template #noTerceros>
                <p>No hay terceros relacionados registrados para este expediente.</p>
              </ng-template>
            </div>
          </div> 
          
          <!-- Formulario para agregar partes -->
           
          <div class="mt-4">
            <!-- Agrega estos campos adicionales en tu formulario -->
           <h4>Agregar Nueva Parte</h4>
           <div class="row">
             <div class="col-md-6 col-12 mb-3">
               <label for="relacionCaso" class="form-label">Relación con el caso</label>
               <input id="relacionCaso" [(ngModel)]="nuevaParte.relacionCaso" name="relacionCaso" type="text" class="form-control" value="Principal">
             </div>
             <div class="col-md-6 col-12 mb-3">
               <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
               <input id="fechaNacimiento" [(ngModel)]="nuevaParte.fechaNacimiento" name="fechaNacimiento" type="date" class="form-control">
             </div>
           </div>
           
           <div class="row" *ngIf="nuevaParte.tipoParte === 'Demandante'">
             <div class="col-md-6 col-12 mb-3">
               <label for="numeroLicencia" class="form-label">Número de Licencia</label>
               <input id="numeroLicencia" [(ngModel)]="nuevaParte.numeroLicencia" name="numeroLicencia" type="text" class="form-control">
             </div>
           </div>
           
           <div class="row">
             <div class="col-md-6 col-12 mb-3">
               <label for="representanteLegalTelefono" class="form-label">Teléfono Representante Legal</label>
               <input id="representanteLegalTelefono" [(ngModel)]="nuevaParte.representanteLegalTelefono" name="representanteLegalTelefono" type="text" class="form-control">
             </div>
             <div class="col-md-6 col-12 mb-3">
               <label for="representanteLegalCorreo" class="form-label">Correo Representante Legal</label>
               <input id="representanteLegalCorreo" [(ngModel)]="nuevaParte.representanteLegalCorreo" name="representanteLegalCorreo" type="email" class="form-control">
             </div>
           </div>
            
            <form (ngSubmit)="agregarParte()" #parteForm="ngForm">
              <div class="row">
                <div class="col-md-6 col-12 mb-3">
                  <label for="tipoParte" class="form-label">Tipo de Parte</label>
                  <select id="tipoParte" [(ngModel)]="nuevaParte.tipoParte" name="tipoParte" class="form-select" required>
                    <option value="">Seleccione un tipo</option>
                    <option value="Demandante">Demandante</option>
                    <option value="Demandado">Demandado</option>
                    <option value="Tercero">Tercero Relacionado</option>
                  </select>
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label for="nombreCompleto" class="form-label">Nombre Completo</label>
                  <input id="nombreCompleto" [(ngModel)]="nuevaParte.nombreCompleto" name="nombreCompleto" type="text" class="form-control" required>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6 col-12 mb-3">
                  <label for="identificacionOficial" class="form-label">Identificación Oficial</label>
                  <input id="identificacionOficial" [(ngModel)]="nuevaParte.identificacionOficial" name="identificacionOficial" type="text" class="form-control" required>
                </div>

                <div class="col-md-6 col-12 mb-3">
                  <label for="domicilio" class="form-label">Domicilio</label>
                  <input id="domicilio" [(ngModel)]="nuevaParte.domicilio" name="domicilio" type="text" class="form-control" required>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6 col-12 mb-3">
                  <label for="telefono" class="form-label">Teléfono</label>
                  <input id="telefono" [(ngModel)]="nuevaParte.telefono" name="telefono" type="text" class="form-control">
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label for="correo" class="form-label">Correo Electrónico</label>
                  <input id="correo" [(ngModel)]="nuevaParte.correo" name="correo" type="email" class="form-control">
                </div>
              </div>
              
              <div class="text-end">
                <button type="submit" class="btn btn-primary" [disabled]="!parteForm.form.valid">
                  Agregar Parte
                </button>
              </div>
            </form>
          </div>         
        </div>
        
        <!-- Registro de Citas -->
        <div class="tab-pane fade" id="infocita" role="tabpanel" aria-labelledby="documentos-tab">
          <h3 class="mb-4">Información citas</h3>
          <div *ngIf="citasCompletadas.length === 0; else tablaCitas">
            <p>No hay citas completadas registradas para este expediente.</p>
          </div>
          
          <ng-template #tablaCitas>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID Cita</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th>Cliente</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cita of citasCompletadas">
                    <td>{{ cita.idCita }}</td>
                    <td>{{ cita.motivo }}</td>
                    <td>{{ cita.estadoCita }}</td>
                    <td>{{ cita.nombreCliente }}</td>
                    <td>
                      <div class="d-flex flex-wrap gap-2">
                        <button type="button" class="btn btn-primary btn-sm" (click)="abrirModalVerNotas(cita.idCita)">
                          Ver Notas
                        </button>
                        <button type="button" class="btn btn-success btn-sm" 
                          (click)="abrirModalNuevaNota(expediente?.idExpediente!, cita.idCita)">
                          Crear Nueva Nota
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </div>
        
        <!-- Documentación Legal -->
        <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos-tab">
          <h2 class="mb-4">Documentación Legal</h2>
        
          <div *ngIf="expediente" class="mb-4">
            <h3>Expediente:</h3>
            <p>({{ expediente.nombreExpediente }}) - (Numero: {{ expediente.numeroExpediente }})</p>
          </div>
          
          <div class="row">
            <div class="col-md-6 col-12 mb-3">
              <label for="categoriaSelect" class="form-label">Seleccionar Categoría</label>
              <select id="categoriaSelect" class="form-select"
                [(ngModel)]="categoriaSeleccionada" (change)="onCategoriaChange()" required>
                <option *ngFor="let categoria of categoriasDocumentos" [ngValue]="categoria">
                  {{ categoria.nombreCategoria }}
                </option>
              </select>
            </div>
            
            <div class="col-md-6 col-12 mb-3">
              <label for="subCategoriaSelect" class="form-label">Seleccionar Subcategoría</label>
              <select id="subCategoriaSelect" class="form-select"
                [(ngModel)]="subCategoriaSeleccionada" [disabled]="!subcategoriasDocumentos.length" required>
                <option *ngFor="let subcategoria of subcategoriasDocumentos" [ngValue]="subcategoria">
                  {{ subcategoria.nombreSubCategoria }}
                </option>
              </select>
            </div>
          </div>
          
          <!-- Carga de archivo -->
          <div *ngIf="categoriaSeleccionada && subCategoriaSeleccionada" class="mb-4">
            <label for="file" class="form-label">Seleccionar Archivo:</label>
            <input type="file" id="file" class="form-control" (change)="onFileSelected($event)" />
          </div>

          <!-- Botones de acción -->
          <div class="button-group">
            <button class="btn btn-primary" 
              (click)="subirDocumentos()" 
              [disabled]="archivos.length === 0 || !expedienteSeleccionado">
              Subir Documentos
            </button>
            <button class="btn btn-secondary" (click)="resetearFormulario()">
              Resetear
            </button>
          </div>

          <!-- Archivos seleccionados -->
          <div *ngIf="archivos.length > 0" class="archivos-list">
            <h3>Archivos Listos para Subir:</h3>
            <ul class="list-group">
              <li *ngFor="let archivo of archivos" class="list-group-item">
                Documento: {{ archivo.idSubCategoriaFK }}, Tamaño: {{ archivo.documentoBase64.length | number }} bytes
              </li>
            </ul>
          </div>        
        </div>
      </div>
      
      <div class="card-footer d-flex justify-content-end gap-2 mt-4">
        <a [routerLink]="['/visualizar-expediente']" class="btn btn-primary">
          Ver menos
        </a>
      </div>    
    </div>
  </div>
</div>